CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Build
thirdparty/assimp/
thirdparty/glfw/
thirdparty/glm/
thirdparty/imgui/
thirdparty/freetype/objs/WS
.vs/
.idea/
cmake-build-debug/
res/models/Vampire/dancing_vampire.dae
